#analytic_server_ip = xxx
#analytic_server_port = xxx
#internal_queue_size = 5
remote_queue_size = 5
vms_connector_directory = /usr/local/opencctv/vms_connectors
db_server_name = localhost
db_port = 3306
db_username = username
db_password = password
db_name = opencctv_development
results_db_server_name = localhost
results_db_port = 3306
results_db_username = username
results_db_password = password
results_db_name = analytic_server_db
opencctv_server_port = 4444

# OpenCCTV database connection details
opencctv_db_server_name = localhost
opencctv_db_port = 3306
opencctv_db_username = username
opencctv_db_password = password
opencctv_db_name = opencctv_development
# Analytic server results database connection details
results_db_server_name = localhost
results_db_port = 3306
results_db_username = username
results_db_password = password
results_db_name = analytic_server_db
