#analytic_server_ip = xxx
#analytic_server_port = xxx
#internal_queue_size = 5
remote_queue_size = 5
vms_connector_directory = /usr/local/opencctv/vms_connectors
db_server_name = localhost
db_port = 3306
db_username = opencctv2
db_password = OpenCCTV@2
db_name = opencctv_development
results_db_server_name = localhost
results_db_port = 3306
results_db_username = opencctv2
results_db_password = OpenCCTV
results_db_name = analytic_server_db
opencctv_server_port = 4444
