/Debug/
/Release/libZoneMinderConnectorPlugin.so
/Release/src/*.d
/Release/src/*.o
/Release/src/opencctv/*.d
/Release/src/opencctv/*.o
/Release/src/util/*.d
/Release/src/util/*.o
/Release/src/zoneminder/*.d
/Release/src/zoneminder/*.o


