/Debug/
/Release/AnalyticStarter
/Release/src/*.d
/Release/src/*.o
/Release/src/analytic/*.d
/Release/src/analytic/*.o
/Release/src/analytic/util/*.d
/Release/src/analytic/util/*.o
/Release/src/analytic/xml/*.d
/Release/src/analytic/xml/*.o
/Release/src/opencctv/*.d
/Release/src/opencctv/*.o
/Release/src/opencctv/mq/*.d
/Release/src/opencctv/mq/*.o
/Release/src/opencctv/util/*.d
/Release/src/opencctv/util/*.o
/Release/src/opencctv/util/log/*.d
/Release/src/opencctv/util/log/*.o
/Release/src/opencctv/util/log/colored/*.d
/Release/src/opencctv/util/log/colored/*.o
