#analytic_server_ip = xxx
#analytic_server_port = xxx
#internal_queue_size = 5
remote_queue_size = 5
vms_connector_directory = /usr/local/opencctv/vms_connectors
db_server_name = db
db_port = 3306
db_username = username
db_password = password
db_name = opencctv_development
results_db_server_name = db
results_db_port = 3306
results_db_username = username
results_db_password = password
results_db_name = results_development
opencctv_server_port = 4445
