<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Analytic instances', analytic_instances_path %></li>
    <li><%= link_to 'Analytic instance', analytic_instance_path(@analytic_instance) %></li>
    <li class="active">New input stream</li>
  </ol>
</div>

<div class="container">
  <h3>Analytic Input Stream Information:</h3>
  <%= render 'form' %>
</div>
