

<div class="container">
  <h1>OpenCCTV</h1>
  <p>
    This project is funded by National Science and Technology Development Agency (NSTDA) in Thailand and
    developed by Asian Institute of Technology (AIT), Thailand.
  </p>
  <p>
    The main goal of the the project is to provide a
    Video Analytic platform for CCTV camera base security solutions.
    OpenCCTV platform consists of a middleware and a Web application
    that enables integration of Video Management Systems (VMSes) with custom Video Analytics.
  </p>

  <h3>Why did we start the project?</h3>
  <p>
    Security and surveillance cameras are everywhere.
    There are many different VMSes are being deployed for management and storage purposes of videos from these cameras.
    Most VMSes have limited Video Analytic capabilities.
    Running new/customized Video Analytics on the videos from cameras connected to VMSes has become a challenging task.
    With OpenCCTV, we implement a standard method to run custom Video Analytics on videos from CCTV cameras.
  </p>
</div>
