<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Groups', group_users_path %></li>
    <li class="active">Edit group</li>
  </ol>
</div>


<div class="container">
  <h1>Editing group_user</h1>

  <%= render 'form' %>

</div>
