<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Analytic plugins', analytics_path %></li>
    <li class="active">New</li>
  </ol>
</div>

<div class="container">
  <h1>Upload a new analytic plugin</h1>
  <%= render 'form' %> <!--Form from _form.html.erb-->
</div>
