<h1>
  Configuration file information
  <a href="<%= edit_analytic_instance_analytic_instance_config_path(@analytic_instance, @analytic_instance_config)%>" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
</h1>
