<h1>Editing Analytic Input Stream</h1>

<%= render 'analytics/info' %>

<%= render 'form' %>

<%= link_to 'Show', analytic_analytic_input_stream_path(@analytic,@analytic_input_stream) , class: 'btn btn-xs btn-warning' %> |
<%= link_to 'Back', analytic_path(@analytic), class: 'btn btn-xs btn-default' %>


