<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Notifications', notifications_path %></li>
    <li class="active">Edit Notification</li>
  </ol>
</div>

<div class="container">
  <h1>Editing notification</h1>
  <%= render 'form' %>
</div>