<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Notifications', notifications_path %></li>
    <li class="active">Notification</li>
  </ol>
</div>

<%= render 'info' %>




