<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'VMSes', vmses_path %></li>
    <li class="active">Edit VMS</li>
  </ol>
</div>

<div class="container">
  <h1>Edit the VMS information</h1>
  <%= render 'form' %>
</div>
