<h1>Editing Analytic Instance Input Stream</h1>

<%= render 'analytic_instances/info' %>

<%= render 'form' %>

<br/>

<%= link_to 'Show', analytic_instance_analytic_instance_stream_path(@analytic_instance,@analytic_instance_stream) , class: 'btn btn-xs btn-warning' %> |
<%= link_to 'Back', analytic_instance_path(@analytic_instance), class: 'btn btn-xs btn-default' %>
