analytic_starter_port = 5555
number_of_analytics = 10
analytic_server_directory = /usr/local/opencctv/analytic-server
#analytic_server_directory = /home/ubuntu/workspace/OpenCCTV/analytic-server/analytic-server/Release
analytic_server_filename = AnalyticServer
results_db_server_name = localhost
results_db_port = 3306
results_db_username = opencctv2
results_db_password = OpenCCTV@2
results_db_name = analytic_server_db
