analytic_starter_host = localhost
analytic_starter_port = 5555
number_of_analytics = 10
analytic_server_directory = /usr/local/opencctv/analytic-server
analytic_server_filename = AnalyticServer
#Path to files related to results applications
results_app_connector_directory = /usr/local/opencctv/results_app_connectors
results_app_input_file_directory = /usr/local/opencctv/results_app_input_files
analytic_results_directory = /usr/local/opencctv/analytic_results
# OpenCCTV database connection details
opencctv_db_server_name = localhost
opencctv_db_port = 3306
opencctv_db_username = opencctvuser
opencctv_db_password = OpenCCTV@2
opencctv_db_name = opencctv_development
# Analytic server results database connection details
results_db_server_name = localhost
results_db_port = 3306
results_db_username = opencctvuser
results_db_password = OpenCCTV@2
results_db_name = analytic_server_db
